<form>
    <textarea name="text" placeholder="{{labels.anyComment}}" rows="1"></textarea>
    <input type="text" name="author" value="" placeholder="{{labels.authorHint}}" class="hidden" />
    <button type="submit" class="btn btn-success hidden">{{labels.submitComment}}</button>
    <button type="button" class="btn hidden">{{labels.cancel}}</button>
</form>