<div class="span9 picture">
    <img src="/pictures/{{file}}" alt="" />
</div>
<div class="span3 comments">
    <h4>Commentaires</h4>
    <button class="btn btn-primary" type="button">Ajouter un commentaire</button>
</div>