<div class="span9 picture">
    <img src="/pictures/{{file}}" alt="" />
</div>
<div class="span3 commentBar">
    <h4>{{labels.comments}}</h4>
    <!-- button class="btn btn-primary" type="button">{{labels.addComment}}</button -->
    <div class="row-fluid comments"></div>
</div>