@font-face {
    font-family: 'SansationRegular';
    src: url('../font/sansation_regular-webfont.eot');
    src: url('../font/sansation_regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/sansation_regular-webfont.woff') format('woff'),
        url('../font/sansation_regular-webfont.ttf') format('truetype'),
        url('../font/sansation_regular-webfont.svg#SansationRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'HandyHandyRegular';
    src: url('../font/handyhandy-webfont.eot');
    src: url('../font/handyhandy-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/handyhandy-webfont.woff2') format('woff2'),
    url('../font/handyhandy-webfont.woff') format('woff'),
    url('../font/handyhandy-webfont.ttf') format('truetype'),
    url('../font/handyhandy-webfont.svg#handyhandyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
    font-family: 'SansationRegular', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button.icon {
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    font-size: 1.5rem;
    margin: 0;
    outline: none;
    padding: 0;
}

button.icon:hover {
    color: #515151;
}

button.icon:active {
    color: #0c7b10;
}

.headbar {
    align-items: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    display: flex;
    height: 35px;
    justify-content: space-between;
    margin-bottom: 0.3rem;
}

.headbar.zoom {
    justify-content: flex-start;
}

.headbar .brand {
    color: #03160a;
    display: flex;
    font-family: 'HandyHandyRegular';
    font-size: 1.8rem;
    height: 35px;
    line-height: 35px;
    margin: 0;
    padding: 0 5px;
}

.headbar .delete {
    cursor: pointer;
    line-height: 34px;
    position: absolute;
    right: 1rem;
}

.headbar .info {
    line-height: 35px;
    margin: 0;
    padding-right: 1rem;
}

.headbar .date, .headbar .description {
    font-size: large;
    line-height: 40px;
    margin: 0;
}

.headbar .description {
    font-weight: bold;
}

.headbar img.beta, .headbar img.admin, .headbar img.upload {
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1031;
}

.headbar .extra {
    display: flex;
    flex-direction: row;
}

.btn {
    background-color: #9e9e9e;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    height: 2rem;
    line-height: 2rem;
    margin: 0 .5rem;
    outline: 0;
    padding: 0 1rem;
    text-align: center;
}

.grid {
    display: flex;
    width: 100%;
}

.grid .column {
    padding-left: 0.6rem;
    width: 100%;
}

.column:last-child {
    padding-right: 0.6rem;
}

.column .item {
    position: relative;
    margin-top: 1%;
}

.column .item img, .column .item video, .column .item iframe {
    cursor: pointer;
    position: relative;
    width: 100%;
}
.column .item img, .column .item video, .column .item iframe, .picture img, .picture iframe {
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}
.column .item img:hover, .column .item video:hover, .column .item iframe:hover {
    -moz-box-shadow: 2px 2px 6px #FFFFBC;
    -webkit-box-shadow: 2px 2px 6px #FFFFBC;
    box-shadow: 2px 2px 6px #FFFFBC;
}

.column .item .date, .column .item .description, .column .item .nb-comments {
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: large;
    margin: 0;
    padding: 4px 0;
    position: absolute;
    text-align: center;
    visibility: hidden;
    width: 100%;
}
.column .item:hover .date, .column .item:hover .description, .column .item:hover .nb-comments {
    visibility: visible;
}

.column .item .description {
    bottom: 4px;
    line-height: 1.5rem;
}
.column .item .date {
    font-size: medium;
    padding: 4px 5px;
    text-align: center;
    left: 0;
    top: 0;
    width: auto;
    z-index: 2;
}

.column .item .nb-comments {
    bottom: auto;
    font-size: medium;
    padding: 4px 0 4px 5px;
    right: 0;
    top: 0;
    width: auto;
    z-index: 2;
}

.zoom {
    display: flex;
}

.picture {
    cursor: pointer;
    text-align: center;
    width: 80%;
}

.controls {
    text-align: left;
}

.help-inline {
    float: left;
    clear: both;
}

.largeModal {
    height: auto;
    margin-left: -40%;
    width: 80%;
}

.videos .upload-video {
    margin: 0px 0 25px 0;
    text-align: center;
}
.upload-video input {
    width: 95%;
}

.large .upload-image {
    float: left;
    margin: 10px;
    text-align: center;
}
.large .upload-image * {
    max-width: 240px;
}
.large .upload-image input {
    width: 100%;
}
.large .upload-image img {
    max-height: 240px;
}
.large .upload-image-zone {
    border: 2px dashed lightgray;
    height: 245px;
    line-height: 240px;
    margin-bottom: 10px;
    padding: 5px;
    width: 245px;
}

form {
    text-align: center;
}

form.horizontal {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form .form-field {
    align-items: center;
    display: flex;
    flex-direction: row;
    line-height: 1rem;
    margin-bottom: 0.5rem;
    padding: 0.3rem;
}

form .form-field-label {
    margin-right: 1rem;
    text-align: right;
    width: 10rem;
}

form input[type='text'], form input[type='email'], form input[type='password'], form input[type='url'], form input[type='date'] {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    color: #555;
    font-size: 14px;
    height: 20px;
    padding: 1rem 0.5rem;
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
}

form textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    color: #555;
    font-size: 14px;
    padding: 0.5rem;
}


form.pictures {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 0.25s linear;
    -moz-transition: opacity 0.25s linear;
    -o-transition: opacity 0.25s linear;
    transition: opacity 0.25s linear;
}

.filter {
    background-color: #5d5d5d;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-style: italic;
    height: 28px;
    line-height: 28px;
    padding: 0 25px;
    text-align: center;
    z-index: 10;
}

.filter.expanded {
    height: auto;
    transform: translateY(110px);
}

.filter i {
    position: relative;
    top: 1px;
    left: 17px;
}

.filter div.column {
    cursor: default;
    float: left;
    padding: 10px 20px;
    width: auto;
}
.filter div.column.month {
    width: 200px;
}
.filter div.column span {
    background-color: #ffffff;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    float: left;
    font-style: normal;
    margin: 5px;
    padding: 0 5px;
}
.filter div.column.year span {
    clear: both;
}
.filter div.column span.selected {
    background-color: lightgreen;
}
.filter div.column.month span.selected {
    background-color: powderblue;
}

.filter button {
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

.click-overlay {
    background-color: transparent;
    display: block;
    position: absolute;
    z-index: 500;
}

@media (max-width: 1024px) {
    .headbar .brand {
        font-size: 1.7rem;
    }

    .headbar .info {
        font-size: 1.2rem;
    }

    .filter {
        font-size: 1.1rem;
    }
}

@media (max-width: 700px) {
    .filter {
        display: none;
    }

    .headbar .brand {
        font-size: 1.5rem;
    }

    .headbar .info {
        font-size: 1.1rem;
    }

    .zoom {
        flex-wrap: wrap;
    }

    .zoom .picture {
        width: 100%;
    }
}

@media (max-width: 620px) {
    .headbar {
        position: relative;
    }

    .headbar .brand {
        font-size: 1.3rem;
    }

    .headbar .delete {
        float: left;
        margin-left: 10px;
    }

    .headbar .info {
        display: none;
    }

    .picture {
        width: 98%;
    }
}
