.modal {
    background: rgba(0, 0, 0, 0.8);
    bottom: 0;
    display: flex;
    height: 100vh;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    -webkit-transition: opacity 250ms ease-in;
    -moz-transition: opacity 250ms ease-in;
    transition: opacity 250ms ease-in;
    top: 0;
    width: 100vw;
    z-index: 99999;
}

.modal > div {
    background: #fff;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 600px;
    padding: 0;
    position: relative;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.large.modal > div {
    max-height: 94vh;
    max-width: 92vw;
}

.modal section, .modal header, .modal footer {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1rem;
}

.modal header {
    border-radius: 0.5rem 0.5rem 0 0;
    border-bottom: 1px solid #eee;
    flex-shrink: 0;
    height: 3rem;
    justify-content: space-between;
}

.modal header > button {
    color: #838383;
    position: absolute;
    right: 0;
}

.modal header > h2 {
    margin: 0;
}

.modal section {
    flex-grow: 1;
    overflow-y: auto;
    padding: 1rem;
}

.modal footer {
    background-color: #f5f5f5;
    border-radius: 0 0 0.5rem 0.5rem;
    border-top: 1px solid #ddd;
    flex-shrink: 0;
    justify-content: flex-end;
}

.modal button:disabled {
    cursor: not-allowed;
    -webkit-filter: grayscale(0.5);
    filter: grayscale(0.5);
}
