<!DOCTYPE html>
<html>
    <head>
    {% block head %}
        <meta name="robots" content="noindex">
        <link rel="stylesheet" href="/css/main.css" />
        <script type="text/javascript" src="/js/jquery-1.6.2.min.js"> </script>
        <script type="text/javascript" src="/js/jquery.dateFormat-1.0.js"> </script>
        <script type="text/javascript" src="/js/jquery-ui-1.8.16.custom.min.js"> </script>
        <!--[if lt IE 9]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script type="text/javascript" src="/js/jquery.filedrop.js"> </script>
        <script type="text/javascript" src="/js/jquery.mousewheel.js"> </script>
        <script type="text/javascript" src="/js/shortcut.js"> </script>
        <script type="text/javascript" src="/js/main.js"> </script>
        <title>
        {% block title %}
        {% endblock %}
        </title>
    {% endblock %}
    </head>
    <body>
        <header>{% include "headbar.twig" %}</header>
        <article>
        {% block content %}
        {% endblock %}
        </article>
        <footer>
        {% block footer %}
            &copy; Copyright 2011 by JoPs.
        {% endblock %}
        </footer>
    </body>
</html>