<?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0">
    <channel>
        <title>Tan, Johan &amp; Evan</title>
        <link>http://life.jops-dev.com/rss</link>
        <description>Notre vie, nos photos.</description>
        <language>FR-fr</language>
        <pubDate>{{now}}</pubDate>
        <copyright>Copyright 2011 JoPs</copyright>
{% for item in items %}
        <item>
            <title>{{item.description|default(item.file)}}</title>
            <link>http://life.jops-dev.com/item/{{item.id}}</link>
            <pubDate>{{item.date|date("D, d M Y H:i:s T")}}</pubDate>
        </item>
{% endfor %}
    </channel>
</rss>