<div class="col-md-11 comment">
    <span class="author">{{author}}</span>
    <span class="delete"><i class="icon-remove"></i></span>
    <span class="date">{{format-date date dateFormat}}</span>
    <span>{{text}}</span>
</div>