<header>
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
            {{#link-to 'items' class="navbar-brand"}}
                <img src="img/logo_m.png" alt="Logo" />
                <img alt="{{unbound title}}" src="img/titre.png" />
            {{/link-to}}
            <p class="info pull-right">{{nbItems}} {{t 'picturesToClickAndComment'}}</p>
            <div class="filter">{{t 'filter'}}</div>
            <img alt="Admin" title="Ajout de photos, modération des commentaires" src="img/admin.png" class="admin" />
            <img alt="Upload" title="Ajout de photos" src="img/upload.png" class="upload hidden" />
        </div>
    </div>
</header>