<div class="navbar-inner">
    {{#link-to 'items' class="navbar-brand"}}
        <img src="img/logo_m.png" alt="Logo" />
    {{/link-to}}
    <span class="date">{{formatDate item.date dateFormat}}</span> :
    <input type="text" name="description" value="{{item.description}}" placeholder="{{t 'enterDescription'}}" />
    <span class="delete" style="display: inline;">
        {{t 'deletePicture'}}
    </span>
</div>