{{partial 'header-zoom'}}
<div class="main container-fluid">
    <div class="row">
        <div class="col-md-9 picture">
            {{#link-to 'items'}}
                <img src="http://wallblog.jops-dev.com/pictures/{{unbound file}}" alt="" />
            {{/link-to}}
        </div>
        <div class="col-md-3 commentBar">
            <h4>{{labels.comments}}</h4>
            <div class="row-fluid commentForm"></div>
            <div class="row-fluid comments"></div>
        </div>
    </div>
</div>