<span class="author">{{model.author}}</span>
<span class="delete"><i class="icon-remove"></i></span>
<span class="date">{{formatDate model.date labels.dateTimeFormat}}</span>
<span>{{model.text}}</span>