<div>
    <div class="column year">
    {{#each years}}
        <span class="alone{{#ifequals ../year this}} selected{{/ifequals}}">{{this}}</span>
    {{/each}}
    </div>
    <div class="column month{{#unless year}} hidden{{/unless}}">
    {{#each months}}
        <span data-value="{{this.id}}"{{#ifequals ../month this}} class="selected"{{/ifequals}}>{{this.value}}</span>
    {{/each}}
    </div>
</div>
<button class="btn">{{labels.validate}}</button>