<div class="navbar-inner">
    <a href="/" class="brand">
        <img src="/img/logo_m.png" alt="Logo" />
    </a>
    <span class="date">{{formatDate item.date labels.dateFormat}}</span> :
    <input type="text" name="description" value="{{item.description}}" placeholder="{{labels.enterDescription}}" />
    <img alt="Beta" src="/img/beta.png" class="beta" />
</div>