<div class="navbar-inner">
    <a href="/" class="brand">
        <img src="/img/logo_m.png" alt="Logo" />
        <img alt="Tan, Johan & Evan" src="/img/titre.png" />
    </a>
    <p class="info pull-right">{{nbItems}} {{labels.picturesToClickAndComment}}</p>
    <img alt="Beta" src="/img/beta.png" class="beta" />
</div>