<div class="span9 picture">
    <img src="/pictures/{{model.file}}" alt="" />
</div>
<div class="span3 commentBar">
    <h4>{{labels.comments}}</h4>
    <div class="row-fluid commentForm"></div>
    <div class="row-fluid comments"></div>
</div>