@font-face {
    font-family: 'SansationRegular';
    src: url('fonts/sansation_regular-webfont.eot');
    src: url('fonts/sansation_regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/sansation_regular-webfont.woff') format('woff'),
        url('fonts/sansation_regular-webfont.ttf') format('truetype'),
        url('fonts/sansation_regular-webfont.svg#SansationRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: #eee;
    font-family: 'SansationRegular', sans-serif;
    margin: 0;
    padding: 45px 0 0 0;
}

header .navbar .brand {
    padding: 0 5px;
    margin: 0;
}

header .info {
    line-height: 40px;
    margin: 0;
    padding-right: 50px;
}

header .date, header .description {
    font-size: large;
    line-height: 40px;
    margin: 0;
}

header .description {
    font-weight: bold;
}

header img.beta, header img.admin, header img.upload {
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1031;
}

.column .item {
    position: relative;
    margin-top: 2%;
    margin-bottom: 2%;
}

.column .item img {
    cursor: pointer;
    position: relative;
    width: 100%;
}
.column .item img, .picture img {
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}
.column .item img:hover {
    -moz-box-shadow: 2px 2px 6px #FFFFBC;
    -webkit-box-shadow: 2px 2px 6px #FFFFBC;
    box-shadow: 2px 2px 6px #FFFFBC;
}

.column .item .date, .column .item .description, .column .item .nb-comments {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: #ffffff;
    font-size: large;
    margin: 0;
    padding: 4px 0;
    position: absolute;
    text-align: center;
    visibility: hidden;
    width: 100%;
}
.column .item:hover .date, .column .item:hover .description, .column .item:hover .nb-comments {
    visibility: visible;
}

.column .item .date {
    bottom: auto;
    font-size: medium;
    padding: 4px 5px;
    text-align: center;
    left: 0;
    top: 0;
    width: auto;
    z-index: 2;
}

.column .item .nb-comments {
    background-image: url('../img/comment.png');
    background-position: right;
    background-repeat: no-repeat;
    bottom: auto;
    font-size: medium;
    padding: 4px 30px 4px 5px;
    right: 0;
    top: 0;
    width: auto;
    z-index: 2;
}

.commentBar {
    -moz-box-shadow: 0 0 2px 2px #bbb;
    -webkit-box-shadow: 0 0 2px 2px #bbb;
    background-color: gray;
    box-shadow: 0 0 2px 2px #bbb;
    text-align: center;
    color: #fff;
}

.commentBar h4 {
    line-height: 8px;
    padding-left: 8px;
    padding-top: 3px;
    text-align: left;
}

.row-fluid .span3.commentBar {
    margin-left: 0.7%;
}

.comment {
    background-color: #FFFFFF;
    float: left;
    font-size: medium;
    color: #111;
    margin: 10px 5px 5px 10px;
    overflow: hidden;
    padding: 6px;
    text-align: left;
    -moz-box-shadow: 0 0 2px 2px #FFF;
    -webkit-box-shadow: 0 0 2px 2px #FFF;
    box-shadow: 0 0 2px 2px #FFF;
}

.row-fluid .span10.comment {
    margin-left: 3%;
    width: 94%;
}

.comment > * {
    clear: both;
    float: left;
    margin: 0;
}
.comment .author {
    border-bottom: 2px solid grey;
    font-size: large;
    font-weight: bold;
    width: 100%;
}
.comment .date {
    float: right;
    font-size: x-small;
    font-weight: normal;
    line-height: 15px;
    padding-bottom: 10px;
}

.commentForm .hidden {
    display: none;
}
.commentForm form {
    margin-bottom: 5px;
}
.commentForm input, .commentForm textarea {
    width: 96%;
}
.commentForm .btn-success {
    background-color: #85C100;
    background-image: -moz-linear-gradient(center top , #85C100, #85B600);
    box-shadow: 0;
}

.row-fluid.commentForm .span10 {
    margin-left: 3%;
    width: 94%;
}

.picture {
    text-align: center;
}

@media (max-width: 620px) {
    .navbar-fixed-top {
        margin-bottom: 5px;
        margin-top: -45px;
        position: relative;
    }

    header .info, header .beta {
        display: none;
    }

    header .date, header .description {
        font-size: medium;
    }

    .span9.picture, .span3.commentBar {
        width: 98%;
    }

    .span3.commentBar {
        margin-top: 10px;
    }
}