.picture {
    align-items: center;
    display: flex;
    height: calc((100 / var(--grid-column-count)) * 1vw - 1rem);
    justify-content: center;
    margin: 0.2rem;
    overflow: hidden;
    position: relative;
}

.picture:first-child {
    grid-column: 1 / span var(--first-item-column-count);
    grid-row: 1 / span var(--first-item-column-count);
    height: calc((var(--first-item-column-count) * 100 / var(--grid-column-count)) * 1vw - 1.6rem);
}

.picture-landscape img {
    height: 100%;
}

.picture-portrait img {
    width: 100%;
}

.picture .date, .picture .description {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: large;
    margin: 0;
    padding: 4px 0;
    position: absolute;
    text-align: center;
    visibility: hidden;
    width: 100%;
}

.picture .date {
    font-size: medium;
    padding: 4px 5px;
    left: 0;
    top: 0;
    width: auto;
}

.picture .description {
    bottom: 0;
    line-height: 1.5rem;
}

.picture:hover .date, .picture:hover .description {
    visibility: visible;
}
