<img src="/css/logo_m.png" alt="Logo" />
<span>{{formatDay date}} :</span>
<span>
{{#if description}}
    {{description}}
{{else}}
    {{file}}
{{/if}}
</span>
{{#if isAdmin }}
<span>[A]</span>
{{/if}}
<button>Ajouter un commentaire</button>