<div id="overlay">
    <div class="form login">
        <h1>Email : <input type="text" name="email" id="email" maxlength="100" /></h1>
        <h1>Mot de passe : <input type="password" name="password" id="password" maxlength="100" /></h1>
        <span class="buttons">
            <button class="submit">Valider</button>
            <button class="cancel">Annuler</button>
        </span>
    </div>
</div>