<span class="author">{{model.author}}</span>
{{#if admin}}<span class="delete"><i class="icon-clear"></i></span>{{/if}}
<span class="date">{{formatDate model.date labels.dateTimeFormat}}</span>
<span>{{model.text}}</span>