<div class="filter-selection">
    <div class="filter-group">
    {{#each years}}
        <span class="year{{#ifequals ../year this}} selected{{/ifequals}}">{{this}}</span>
    {{/each}}
    </div>
    <div class="filter-group months{{#unless year}} hidden{{/unless}}">
    {{#each months}}
        <span data-value="{{this.id}}" class="month{{#ifequals ../month this.value}} selected{{/ifequals}}">{{this.value}}</span>
    {{/each}}
    </div>
</div>
<button class="filter-selection-button btn">{{labels.validate}}</button>