<a href="/" class="brand">
    <img src="/img/logo_m.png" alt="Logo" /> {{title}}
</a>
<div class="filter">Filtrer...</div>
<div class="extra">
    <p class="info">{{#unlessequals nbItems 0}}{{nbItems}} {{labels.picturesToComment}}{{/unlessequals}}</p>
    <button class="icon" id="add-item" title="Ajout de photos"><i class="icon-plus"></i></button>
</div>
