<div>
    <header>
        <button class="icon" title="Fermer" id="modalClose">x</button>
        <h2>{{title}}</h2>
    </header>
    <section>
        <p>{{body}}</p>
    </section>
{{#if footer}}
    <footer class="cf">{{footer}}</footer>
{{/if}}
</div>
