<div>
    <header>
        <h2>{{labels.hello}}</h2>
        <button class="icon" title="Fermer" id="modalClose"><i class="icon-close"></i></button>
    </header>
    <section>
      {{labels.receiveNotifications}}
    </section>
    <footer>
        <button id="modalCancel" class="btn">{{labels.noThanks}}</button>
        <button id="modalSubmit" class="btn primary">{{labels.yesIdo}}</button>
    </footer>
</div>
