SetEnv PHP_VER 5_TEST

AddType video/ogg  .ogv
AddType video/mp4  .mp4
AddType video/webm .webm
AddType application/vnd.ms-fontobject .eot
AddType font/ttf .ttf
AddType font/otf .otf

<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On
    RewriteRule ^(views)($|/) - [L]
    #RewriteBase /path/to/app
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>