SetEnv PHP_VER 5_TEST

AddType video/ogg  .ogv
AddType video/mp4  .mp4
AddType video/webm .webm
AddType application/vnd.ms-fontobject .eot
AddType font/ttf .ttf
AddType font/otf .otf
AddType text/cache-manifest .appcache

<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On
    RewriteRule ^(js)($|/) - [L]
    RewriteRule ^(templates)($|/) - [L]
    RewriteRule ^api/(.*)$ index.php [QSA,L]
    RewriteRule ^auth/(.*)$ index.php [QSA,L]
    RewriteRule ^rss$ index.php [QSA,L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.html [QSA,L]
</IfModule>

<IfModule mod_setenvif.c>
  <IfModule mod_headers.c>
    BrowserMatch chromeframe gcf
    Header append X-UA-Compatible "chrome=1" env=gcf
  </IfModule>
</IfModule>

<filesMatch "\.(jpg|jpeg|png|gif|JPG|JPEG|ogv|mp4|webm)$">
    Header set Cache-Control "max-age=290304000, public"
</filesMatch>